In [1]:
import pandas as pd

from lending_club import execute_processing

In [2]:
df = pd.read_csv("data/loan_data.csv", low_memory=False)

load_data: pd.DataFrame = execute_processing(df)

2024-08-01 - lending-club - INFO - Processing data...
2024-08-01 - lending-club - INFO - Filtering loan status...
2024-08-01 - lending-club - INFO - Filtering missing data...
2024-08-01 - lending-club - INFO - Filtering non unique values...
2024-08-01 - lending-club - INFO - Removing unnecessary columns...
2024-08-01 - lending-club - INFO - Mapping categorical columns...
2024-08-01 - lending-club - INFO - Applying string transformation...
2024-08-01 - lending-club - INFO - Handling outliers...
2024-08-01 - lending-club - INFO - Creating dummies...
2024-08-01 - lending-club - INFO - Converting to upper case...

In [4]:
load_data.head()

,LOAN_AMNT,INSTALLMENT,GRADE,EMP_LENGTH,ANNUAL_INC,LOAN_STATUS,DTI,FICO_RANGE_LOW,FICO_RANGE_HIGH,INQ_LAST_6MTHS,...,PURPOSE_MAJOR_PURCHASE,PURPOSE_MEDICAL,PURPOSE_MOVING,PURPOSE_OTHER,PURPOSE_RENEWABLE_ENERGY,PURPOSE_SMALL_BUSINESS,PURPOSE_VACATION,PURPOSE_WEDDING,TERM_36,TERM_60
0,5000.0,162.870,2,10,24000.0,0,23.84,735.0,739.0,1.0,...,0,0,0,0,0,0,0,0,1,0
1,2500.0,71.235,3,0,30000.0,1,2.13,740.0,744.0,3.0,...,0,0,0,0,0,0,0,0,0,1
2,2400.0,84.330,3,10,24000.0,0,8.72,735.0,739.0,2.0,...,0,0,0,0,0,1,0,0,1,0
3,10000.0,339.310,3,10,49200.0,0,20.00,690.0,694.0,1.0,...,0,0,0,1,0,0,0,0,1,0
4,3000.0,71.235,2,1,80000.0,0,17.94,695.0,699.0,0.0,...,0,0,0,1,0,0,0,0,0,1